@tailwind base;
@tailwind components;
@tailwind utilities;

.dancing-script {
  font-family: "Dancing Script", cursive;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.text-outline {
  -webkit-text-stroke: 2px black;
}

.text-outline-light {
  -webkit-text-stroke: 0.5px black;
}

.show-card {
  opacity: 1;
  visibility: unset;
  transform: translateY(70%);
}

#news-section::-webkit-scrollbar {
  display: none;
}

.show-news-section {
  opacity: 1;
  visibility: unset;
  transform: translateX(0);
}
